<div class="activity-line row">
  
  <span class="span1 label <%= get_job_request_color(job_request) %> right"><%= get_job_request_text(job_request)%></span>
  
  <!-- resolve the job_request_message -->
    <% job_request_message = '' %>
  <!-- resolve the job_request_destination_url -->
    <% job_request_destination_url = '' %>
  <!-- resolve the job_request deadline  -->
    <% job_request_deadline = '' %>
  
   
  <span class="span5 title">
    <%#= link_to job_request_message(job_request), job_request_destination_url() %>
    <a href="#">Tight pants next level keffiyeh</a>
  </span>
  <span class="span2 date pull-right">20/8/2012 - 20/9/2012</span>
</div>