<div class="padded">
  
  
   
 
 
  
  
  <div class="padded">
    
    <% if @job_requests.length == 0 %>
      <%= render :partial => "layouts/no_object_list", :locals => {
        :objects => "tasks",  
        :subject => "membership",
        :single_object => nil 
      } %>
    <% end %>
    
    <div class="shadow-box yellow ">
      Color Code: 
      <ul class='color-code-notification'>
        
        <li>
          <span class="label yellow" style="margin-right:30px;">
            Employee Name
          </span>
          Head Project Manager
        </li>
        
        
        <li>
          <span class="label red" style="margin-right:30px;">
            Employee Name
          </span>
          Main Field Crew: Pro photographers / videographers
        </li>
        <li>
          <span class="label pink" style="margin-right:30px;">
            Employee Name
          </span>
          Crew: Pro photographers / videographers Assistant 
        </li>
        <li>
          <span class="label purple" style="margin-right:30px;">
            Employee Name
          </span>
          Project  Manager
        </li>
        <li>
          <span class="label blue" style="margin-right:30px;">
            Employee Name
          </span>
          Account Executive 
        </li>
        <li>
          <span class="label orange" style="margin-right:30px;">
            Employee Name
          </span>
          Production: Graphic Designer / Photo Editor / Video Editor 
        </li>
        
    
        
        <li>
          <span class="label" style="margin-right:30px;">
            Employee Name
          </span>
          Post Production: handles deliverables printing 
        </li>
        
        <li>
          <span class="label green" style="margin-right:30px;">
            Employee Name
          </span>
          Quality Control: Internal Approval before any materials are handed out to client 
        </li>
        
      </ul>

    </div>
    
    
    
    
 
    <%   @job_requests.each do |job_request| %>
      <%= render :partial => "job_requests/entry", :locals => {
        :job_request => job_request 
      }%>
    <% end %>
      
      
  </div>
</div>