<div class="padded">
  
  
   
 
 
  
  
  <div class="padded">
    
    <% if @job_requests.length == 0 %>
      <%= render :partial => "layouts/no_object_list", :locals => {
        :objects => "tasks",  
        :subject => "membership",
        :single_object => nil 
      } %>
    <% end %>
    
    
 
    <%   @job_requests.each do |job_request| %>
      <%= render :partial => "job_requests/entry", :locals => {
        :job_request => job_request 
      }%>
    <% end %>
      
      <!--         <div class="activity-line row">
                <span class="span1 label green right">Project</span>
                <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
                <span class="span2 date pull-right">by John Doe - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label orange right">Project</span>
                <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
                <span class="span2 date pull-right">by Richard - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label red right">Comment</span>
                <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
                <span class="span2 date pull-right">by John Doe - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label purple right">Comment</span>
                <span class="span5 title"><a href="#">A really ironic artisan whatever keytar</a></span>
                <span class="span2 date pull-right">by Richard - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label blue right">Project</span>
                <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
                <span class="span2 date pull-right">by Richard - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label yellow right">Comment</span>
                <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
                <span class="span2 date pull-right">by John Doe - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label pink right">Task</span>
                <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
                <span class="span2 date pull-right">by John Doe - Nov 2011</span>
              </div>
              <div class="activity-line row">
                <span class="span1 label  right">Comment</span>
                <span class="span5 title"><a href="#">A really ironic artisan whatever keytar</a></span>
                <span class="span2 date pull-right">by Richard - Nov 2011</span>
              </div> -->

    <!-- <div style="display: block" class="btn">Load more activity</div> -->
  </div>
</div>