<div class="padded">
  
  
   
 
 
  
  
  <div class="padded">

    <div class="codehint">Here's some markup you can use for showing summary activities. Add as many activity lines as needed!</div>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"activity-line row"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">        </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span1 label yellow right"</span><span class="tag">&gt;</span><span class="pln">Comment</span><span class="tag">&lt;/span&gt;</span></li><li class="L2"><span class="pln">        </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span5 title"</span><span class="tag">&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Photo booth beard</span><span class="tag">&lt;/a&gt;&lt;/span&gt;</span></li><li class="L3"><span class="pln">        </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span2 date pull-right"</span><span class="tag">&gt;</span><span class="pln">by John Doe - Nov 2011</span><span class="tag">&lt;/span&gt;</span></li><li class="L4"><span class="pln">      </span><span class="tag">&lt;/div&gt;</span></li></ol></pre>


        <div class="activity-line row">
          <span class="span1 label green right">Project</span>
          <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
          <span class="span2 date pull-right">by John Doe - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label orange right">Project</span>
          <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
          <span class="span2 date pull-right">by Richard - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label red right">Comment</span>
          <span class="span5 title"><a href="#">Tight pants next level keffiyeh</a></span>
          <span class="span2 date pull-right">by John Doe - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label purple right">Comment</span>
          <span class="span5 title"><a href="#">A really ironic artisan whatever keytar</a></span>
          <span class="span2 date pull-right">by Richard - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label blue right">Project</span>
          <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
          <span class="span2 date pull-right">by Richard - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label yellow right">Comment</span>
          <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
          <span class="span2 date pull-right">by John Doe - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label pink right">Task</span>
          <span class="span5 title"><a href="#">Photo booth beard raw denim letterpress vegan messenger</a></span>
          <span class="span2 date pull-right">by John Doe - Nov 2011</span>
        </div>
        <div class="activity-line row">
          <span class="span1 label  right">Comment</span>
          <span class="span5 title"><a href="#">A really ironic artisan whatever keytar</a></span>
          <span class="span2 date pull-right">by Richard - Nov 2011</span>
        </div>

    <!-- <div style="display: block" class="btn">Load more activity</div> -->
  </div>
</div>