<%= simple_form_for( object, :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "object_form"}) do |f| %>

   

  <%= f.input :deadline_date , :as => :string, 
    :input_html => {:class => "input-xlarge datepicker span5", :rows => 5,
      :value => format_date_from_datetime( object.deadline_date)}, 
    :label => "Internal QC Deadline", :hint => "(format: dd/mm/yyyy)"   %>
   

  <div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary", :value=> "Assign Internal Deadline" %>
  </div>
<% end %>
