<%= render "projects/management/heading", title: "Package & Deliverable", :id => "deliverable" %>

<div class="padded">
  
    <div class="row"> 
      <div class='span7' id="package_detail_wrapper">
        
        <%= render :partial => "projects/package_detail", :locals => {
          :package => @project.package,
          :project => @project
        }%>
        
        
      </div>
      <div class='span1'>
        <%= link_to "Edit", root_url, :class => 'btn blue', :style => 'width:100%; text-align:center;' %> 
      </div>
    </div>

</div>
