
td.project-detail-metric { 
  text-align:right;
  width: 50%;
  font-weight:bold;
}

form.no_content_form { 
  margin-top: 5px;
  border: 1px solid rgb(230, 230, 230 );
  background-color: #fff9e8;
  padding: 20px;
}

.breadcrumb {
  border-top: 0px;
}