

<tr id="object_list_entry-<%= object.id %>"> 
  <td><%= object.number %></td>
  <td><%= object.overall_feedback %></td>
  <td>Production Staff
    
  </td>
  <td>
    
    QC Approval
  </td>
  <td>
    Deadline
  </td> 
  <td>Client Approval</td> 
  <td>Client Deadline</td>
</tr>
 