<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
     
      <a href="#" class="brand"><%= COMPANY_NAME %></a>
      <div class="nav-collapse">
        
        <!-- how can we do programmatically to setup this shit to be active? -->
        <ul class="nav">
          <%= get_main_process_nav(:project_management, params).html_safe %>
          <!-- <li class="active"><a href="#">Project Management</a></li> -->
          
          
          <%# if current_user.has_role?(:admin )%>
            <%#= get_main_process_nav(:admin, params).html_safe %>
          <%#end %> 
          <!-- <li><a href="#">Master Data</a></li>
                                    <li><a href="#">Employee</a></li> -->
          
          <%# if current_user.has_role?(:head_project_manager) %>
            <%#= get_main_process_nav(:head_project_manager, params).html_safe %>
          <%# end %>
          <!-- <li><a href="#">Client</a></li> -->
        </ul> 
        
        
        
        <ul class="nav pull-right">
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", destroy_user_session_url %></li>
          <!-- <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_url %></li>
                </ul>
              </li> -->
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
