<div id="sidebar" class="span3 sidebar-right">
 
  <ul class="nav inset-margin">
    <li>
      <a class="btn blue" href="#"><i class="icon-plus"></i> New project</a>
    </li>

    <li>
      <a class="btn green" href="#"><i class="icon-pencil"></i> Edit project</a>
    </li>
  </ul> 


  <!-- common user navigation -->
  <!-- Master Data -->
  
  <%= get_process_nav(:status, params).html_safe %> 
  
  <% if current_user.has_role?(:admin) %>
    <%= get_process_nav(:master, params).html_safe %>  
    <%= get_process_nav(:employee, params).html_safe %> 
  <% end %>
  
  
  <!-- Master Data -->
  <!-- <div class="heading-bar">
    <h5 class="pull-left">Master Data</h5>
  </div>
  
  <ul class="aside-menu">
    <li class="active"><a href="#"><i class="icon-briefcase"></i> Package</a></li>
    <li><a href="#"><i class="icon-gift"></i> Deliverable</a></li>
    <li><a href="#"><i class="icon-list-alt"></i> Deliverable Component</a></li> 
  </ul> -->


  <!-- <div class="heading-bar">
     <h5 class="pull-left">Calendar</h5>
   </div>
   <%#= render "layouts/cal" %> -->
 
 <!--   <div class="heading-bar">
     <h5 class="pull-left">Tags</h5>
     <div class="pull-right"><a href="#"><i class="icon-pencil"></i> Edit</a></div>
   </div>

   <ul class="tags blue">
     <li><a href="#">tag</a></li>
     <li><a href="#">tag name</a></li>
   </ul>

   <ul class="tags red">
     <li><a href="#">Some</a></li>
     <li><a href="#">Nice</a></li>
     <li><a href="#">Colorful</a></li>
     <li><a href="#">Tags</a></li>
   </ul>

   <ul class="tags green">
     <li><a href="#">Design</a></li>
     <li><a href="#">Illustration</a></li>
     <li><a href="#">Component</a></li>
     <li><a href="#">Misc</a></li>
   </ul> -->

<!--   <div class="heading-bar">
    <h5 class="pull-left">Plans</h5>
    <div class="pull-right"><a href="#"><i class="icon-pencil"></i> Edit</a></div>
  </div>

  <div class="shadow-box green">
    <h4><i class="icon-trophy"></i> Upgrade now</h4>
    <div>Get major benefits with our premium subscriptions plans</div>
  </div>

  <div class="shadow-box">
    <h4><i class="icon-question-sign"></i> Questions? Need Help?</h4>
    <div>Check out our <a href="#">Help section</a> or simply <a href="#">get in touch</a></div>
  </div>

 -->

</div>